@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #E3F2FD;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  /* background: #293447; */
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
 
}

.game-details {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #171B26;
}

.play-board {
  
  width: 100%;
  display: grid;
  background: #04112c;

  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  background: #FF003D;
  border-radius: 50%;

}

.play-board .head {
  background: #60CBFF;
  border: 1px solid greenyellow;
  border-radius: 5px;
}

.controls {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

}

.controls i {
  padding: 30px 0;
  text-align: center;
  font-size: 1rem;
  color: #B8C6DC;
  width: calc(100% / 4);
  cursor: pointer;
  border: 1px solid #c1c6d4; 
  display: block;
  width: 50px;
  height: 50px;
}

.speed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.speed-value {
  color: #B8C6DC;
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  body{
    background-color:#212837
  }
  .wrapper {
    /* width: 90vmin;
   height: vmin; 
    height: 150vmin; */
    width: 100%;
    height: inherit;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
  .play-board .food {
    background: #FF003D;
    border-radius: 50%;
   height: 13px;
   width: 13px;
  }
  
  .play-board .head {
    background: #60CBFF;
    border: 1px solid greenyellow;
    border-radius: 5px;
    padding: .4rem;
    width: 15px;
    height: 15px;
  }
}

